* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: whitesmoke;
  color: #0c1526;
}

nav {
  width: 100%;
  background-color: white;
  box-shadow: 0px 0.5px 3px #0c1526;
  height: 80px;
  display: flex;
}

nav div {
  flex-grow: 1;
  line-height: 60px;
  vertical-align: middle;
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  color: #0c1526;
}

.column-container {
  display: flex;
  overflow: auto;
}

.column {
  flex-grow: 1;
  align-self: flex-start;
  border-radius: 25px;
  min-height: 200px;
  min-width: 280px;
  margin: 1rem;
}

.column-header {
  text-align: center;
  margin: 10px;
  padding: 10px;
  color: white;
  font-size: 1.5em;
  font-weight: bold;
  border-radius: 10px;
}

[data-card-category*="todo"] .column-header {
  background-color: #70d142;
}

[data-card-category*="working"] .column-header {
  background-color: #179bd8;
}

[data-card-category*="test"] .column-header {
  background-color: #3a1ed8;
}

[data-card-category*="done"] .column-header {
  background-color: #bf2116;
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 200px;
}

.card-container.hoverable.hover {
  background-color: rgba(12, 21, 38, 0.2);
}

.card-container.hoverable {
  background-color: rgba(102, 136, 199, 0.1);
}

.card {
  border-radius: 25px;
  min-height: 100px;
  margin: 10px;
  background-color: white;
  box-shadow: 3px 3px 5px rgba(102, 136, 199, 0.1);
}

.card:hover {
  transform: translateY(-2px);
}

.card-create {
  min-height: 30px !important;
  margin: 10px;
  text-align: center;
  font-size: 2em;
}

.card-create h3 {
  pointer-events: none;
}

.card-title {
  font-size: 2em;
  padding: 1rem;
  width: 100%;
  background-color: transparent;
  border: none;
  resize: none;
  outline: none;
}

.card-delete {
  float: right;
  padding-right: 1vw;
  font-size: 1.5em;
}

.card-delete:hover {
  font-weight: bold;
  color: #d8751e;
}
